.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
secret.rb

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json
